<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus aperiam quos maxime cum minima illo optio dolorem tempore reprehenderit aut.</p>
<footer>
    <div class="media">
        <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="media__text quote__company">ABC Company</p>
        </div>
    </div>
</footer>
</blockquote>